* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor h2 {
    text-align: left;
    margin-bottom: 2px;
}




.espacio {
    margin-top: 5rem;
    
}


.parrafo {
    margin-top: 1rem;
    
    font-family: serif;
    
    
    color: black;
    margin-bottom: 4rem;
}


.parrafo p {
    color: black;
    text-align: left;
    font-size: 1rem;
}

.cajatexto {
    max-width: 1200px;
    word-wrap: break-word;
}


/*BOTONES PARA COMPARTIR*/

.btn-share{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin: 40px 0 40px 0px;

}

@media (max-width: 600px) {

.btn-share{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 40px 0 40px 0px;

}
}

.btn1 {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    width: 100px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .btn1:hover {
    background-color: red;
  }


.btn2 {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    width: 100px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .btn3 {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    width: 100px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .btn3:hover {
    
        background-color: yellow;
      
  }